*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

html {
    background-color: #a3520f;
    height: 100%;
}

body{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
main {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;   
    max-width: 90%;
}
.moeda{
    font-size: 10px;
    margin-bottom: 1px;
    margin-left: 0px;
    color: #524848;

}
select{
    padding: 5px;
    font-size: 15px;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    outline: none;
    transition: border-color 0.3s;
    cursor: pointer;

}
select:focus {
    border-color: #8c52ff;
}
.real{
    width: 70px;
    margin-bottom: 10px;
    margin-top: 10px; 
    box-shadow: #333;
}
img{
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.dolar{
    width: 70px;
    margin-bottom: 10px;
    margin-top: 10px; 
}

input{
    padding: 5px;
    font-size: 1.2rem;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    outline: none;
    transition: border-color 0.3s;
}
input:focus {
    border-color: #8c52ff;
}
#valor{
    font-size: 10px;
    margin-bottom: 19px;
    color: #555;


}
button {
    margin-top: 15px;
    padding: 20px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 15px;
    background-color: #8c52ff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #190cd3;
    opacity: 0.9;
}
button:active {
    transform: scale(0.98);
    opacity: 0.8;
}
section{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    gap: 10px;
    flex-wrap: wrap;

}
section div{
    background-color: #c9c9e9;
    padding: 1px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    flex: 80%;
    min-width: 120px;
    text-align: center;
    transition: transform 0.3s;
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: 0px;

}
section div:hover{
    transform: scale(1.05);
    background-color: #8c52ff;
}
.real-value, .dolar-value{
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}
.real-value1, .dolar-value1{

    font-weight: bold;
    font-size: 15px;
    margin-bottom: 5px;
    color: #555;
}
#seta{
    width: 100px;
    display: block;
    padding: 1px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    transition: transform 0.3s;
   
}
#seta:hover{
    transform: rotate(360deg);

}
.footer { 
    margin-top: 40px;
    color: rgb(95, 61, 16);
    font-size: 14px;    
    background-color: violet;
    padding: 30px;
    margin: 10px 1 0 0;
    border-radius: 1px;
    text-align: center;
    width: 100%;
    max-width: 900%;


}.footer a {
    color: rgba(136, 103, 12, 0.719);
    text-decoration: none;
    font-weight: bold;
}
.footer a:hover {
    text-decoration: underline;


}   
